@import url(http://weloveiconfonts.com/api/?family=typicons);
@import url(https://fonts.googleapis.com/css?family=Exo:500,700);

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

#vcard {
  margin-left: 10% ;
  float: left;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0,0,0, .3);
  width: 50%;
}
#card-content {
  width: 100%;
  float: left;
  height: 100%;
  
}
#profile {
  height: 100%;
  border-bottom: solid 1px rgba(255,255,255,.2);
}
#profile {
  padding-top: 50px;
  text-align: center;
  overflow: hidden;
}
span.avatar span.icon{
  display: inline-block;
  color: black;
  font-size: 72px;
  line-height: 100px;
  background: #46af7b;
  border: solid 3px rgba(255,255,255, .2);
  overflow: hidden;
  padding-top: 1px;
  width: 90px;
  height: 90px;
  border-radius: 46px;
}
span.info {
  padding-top: 10px;
  display: block;
  font-family: Exo;
  font-size: 15px;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.btn-warning{
  margin-left: 5%;
  width: 45%;
}

.btn-danger{
  margin-left: 2%;
  width: 45%;
}