@import url('https://fonts.googleapis.com/css?family=Audiowide');

h1,h3 {
  font-family: 'Audiowide', cursive;
  text-align: center;
}

.contact-container{
  width: 40%;
  margin-left: 0%;
  float: left;
  clear: left;
}
